<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://hamleysgumlet.gumlet.io/banner/1664772459toyful%20festivities%20(2).webp" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://hamleysgumlet.gumlet.io/banner/1663046725HDC.webp" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://hamleysgumlet.gumlet.io/banner/1649058788AFOL_Desktop_1817%20x%20747%20px.webp" class="d-block w-100" alt="...">
                          </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                            
        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                            <div class="card" style="width: 18rem;">
                                <img src="https://hamleysgumlet.gumlet.io/product/491959943/300/491959943-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hamley Toys</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">BUY</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                            <div class="card" style="width: 18rem;">
                                <img src="https://hamleysgumlet.gumlet.io/product/492409195/300/492409195-1.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hamley Toys</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">BUY</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                            <div class="card" style="width: 18rem;">
                                <img src="https://hamleysgumlet.gumlet.io/product/491959953/300/491959953-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hamley Toys</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">BUY</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                            <div class="card" style="width: 18rem;">
                                <img src="https://hamleysgumlet.gumlet.io/product/491948535/300/491948535-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hamley Toys</h5>
                                  <p class="card-text">LEGO Extra dot series 2 blocks</p>
                                  <a href="#" class="btn btn-primary">BUY</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                            <div class="card" style="width: 18rem;">
                                <img src="https://hamleysgumlet.gumlet.io/product/492910134/300/492910134-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hamley Toys</h5>
                                  <p class="card-text">LEGO Deeo Bracelet chain building blocks</p>
                                  <a href="#" class="btn btn-primary">BUY</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                            <div class="card" style="width: 18rem;">
                                <img src="https://hamleysgumlet.gumlet.io/product/492910137/300/492910137-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hamley Toys</h5>
                                  <p class="card-text">LEGO Wild life ATV building Blocks</p>
                                  <a href="#" class="btn btn-primary">BUY</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                            <div class="card" style="width: 18rem;">
                                <img src="https://hamleysgumlet.gumlet.io/product/492910142/300/492910142-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hamley Toys</h5>
                                  <p class="card-text">LEGO Helicopter building blocks</p>
                                  <a href="#" class="btn btn-primary">BUY</a>
                                </div>
                              </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                            <div class="card" style="width: 18rem;">
                                <img src="https://hamleysgumlet.gumlet.io/product/492910165/300/492910165-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hamley Toys</h5>
                                  <p class="card-text"> LEGO V29 Horse building blocks</p>
                                  <a href="#" class="btn btn-primary">BUY</a>
                                </div>
                              </div>
                        </div>
                    </div>
       
                  
  </div>
</div>
</div>